*,*::after,*::before {
    margin: 0;
    padding: 0;
}
html {
    background: url('../img/Мыс_Лударь\,_17_июня_2013_года.jpg')bottom center/cover;
}
.container {
    position: relative;
}
#rg-hero {
    position: absolute;
    top: 0;
    left: 0;
}
.escape-screen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.container-for-text {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}
.escape-screen__text {
    font-size: 6rem;
    color: rgb(45, 228, 188);
    z-index: 1;
}